@import "variables";
@import "mixins";

.cheatsheetwidget-container {
  z-index: 9999999;
  position: fixed;
  right: 40px;
  max-width: 300px;
  .cheatsheetwidget-icon {
    position: relative;
    left: 70%;
    top: 1px;
    max-width: 35px;
    padding: 8px;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: $primary-color;
    transition: .3s all;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
    i {
      font-size: 2.5rem;
    }
  }
  .cheatsheetwidget-content {
    background-color: #fff;
    border: 5px solid $primary-color;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    ul {
      list-style: none;
      li {
        cursor: pointer;
        &:before {
          font-family: 'FontAwesome';
          content: '\f004';
          margin:0 5px 0 -15px;
          color: $primary-color;
        }
        &:hover {
          color: $primary-color;
          font-weight: bold;
        }
      }
    }
    p {
      text-align: right;
      a {
        color: #44CCEE;
        font-weight: bold;
        text-decoration: none;
      }
    }

  }
}
.active {
  animation-name: showSheet;
  animation-duration: .7s;
  bottom: 50px;
}
.inactive {
  bottom: -378px;
  transition: 0.5s all;
}
@keyframes showSheet {
  0% {bottom: -378px;}
  50% {bottom: 100px;}
  100% {bottom: 50px;}
}
