@import "variables";
@import "mixins";

.top-bar-menu {
  margin-bottom: 2rem;
  @include single-element;
  background-color: $primary-color;
  color: #FFF;
  ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1rem;
    padding: 1rem 0;
    justify-content: center;
    .title {
      text-transform: uppercase;
    }
    li {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      font-weight: 300;
      margin: .5rem 1rem;
      min-width: 5rem;
      span {
        padding: 0 4px;
        button {
          margin-top: .5rem;
        }
      }
      a {
        color: #FFF;
        text-decoration: none;
        transition: .5s color;
        &:hover {
          color: $primary-color-dark;
        }
      }
      button {
        margin: 0 1rem;
      }
      input {
        border: 1px solid #e9e9e9;
        border-radius: 1rem;
        font-size: 1rem;
        padding: 0.2rem 0;
        outline: none;
        user-select: none;
        &::selection {
          background-color: $primary-color;
          color: white;
        }
        &::placeholder {
          color: #d0d0d0;
        }
      }
    }
    .nav-pill {
      color: #fff;
      outline: none;
      border: none;
      border-radius: 5px;
      font-size: 0.875rem;
      padding: 4px 8px;
      background-color: $primary-color-light;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
      &:hover {
        background-color: $primary-color-dark;
        cursor: pointer;
      }
      &:disabled {
        display: none;
      }
    }
  }
}
h1 {
  color: #d0d0d0;
  font-weight: 300;
  padding: 1rem;
  border-bottom: 1px solid #d0d0d0;
  margin: 1rem;
}
.headroom {
  z-index: initial !important;
}
@media (max-width: 1000px) {
  .encourage-desktop {
    display: none;
  }
}
@media (min-width: 1000px) {
  .encourage-mobile {
    display: none;
  }
}
