@import "variables";
@import "mixins";
.top-bar-menu {
  margin-bottom: 2rem;
  @include single-element;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    .title {
      text-transform: uppercase;
    }
    li {
      padding: 1rem 2rem;
      font-weight: 300;
      input {
        border: 1px solid #e9e9e9;
        border-radius: 1rem;
        font-size: 1rem;
        padding: 0.2rem 0;
        outline: none;
        user-select: auto;
      }
      input::selection {
        background-color: $primary-bg-color;
        color: white;
      }
      input::placeholder {
        color: #d0d0d0;
      }
    }
  }
}
h1 {
  color: #d0d0d0;
  font-weight: 300;
  padding: 1rem;
  border-bottom: 1px solid #d0d0d0;
  margin: 1rem;
}
