$border-radius-default: 5px;
$primary-green: #009688;
$primary-green-dark: #005D53;
$primary-green-light: #42B2A6;
$primary-grey: #D0D0D0;
$primary-red: #F65656;
$primary-red-dark: #E03030;
$primary-white: #FFF;
